* {
    margin: 0;
    padding: 0;
}

body {
    background: #e6e6e6;
}

header,
.main,
footer {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

header nav {
    background: #528FD5;
    overflow: hidden;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    padding: 10px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    background: #75ACEC;
}

.main .articles {
    width: 68.5%;
    margin-right: 1.5%;
    float: left;
}

.main .articles article {
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}

aside {
    width: 30%;
    background: #5874b8;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background: #000;
    color: azure;
    clear: both;
    padding: 10px 0px;
    text-align: center;
}

.normal-text {
    font-weight: normal;
}

/* Estilos para la tabla */
.formula-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.formula-table th,
.formula-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.formula-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.formula-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}